


/*QUITAMOS EL CONTAINER DE INICIO DE SESIÓN POR ESTETICA */
header{
    .nav{
        .nav__user__login{
            display: none;
        }
    }
}

/*////////////////////////////
///LOGIN CONTAINER ///////////
////////////////////////////*/

.login__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    padding: 1rem;
    max-width: 27rem;
    border-radius: 0.3rem;
    width: 100%;
    height: auto;
    background: var(--container-background-3);
    box-shadow: 0 0 13px var(--color-text-7);
    .login__container__header{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 1rem 0.5rem;
        border-bottom: 2px solid var(--color-text-7);
        color: var(--color-text-7);
        
    }
    .login__container__body{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 2.5rem;
        .input__container{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            position: relative;
            .input__container--icon{
                position: absolute;
                font-size: 1.2rem;
                bottom: 0.6rem;
                color: var(--color-text-6);
            }
            .input__container--input{
                width: 100%;
                padding: 0.3rem;
                padding-left: 1.5rem;
                font-size: 1.1rem;
                background: none;
                outline: none;
                border: none;
                color: var(--color-text-7);
                border-bottom: 1px solid var(--color-text-7);
                caret-color: var(--color-text-7);
                &::placeholder{
                    color: var(--color-text-6);
                }
                
            }
        }
        .links__container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            .links__container--link{
                text-decoration: none;
                font-weight: 500;
                color: var(--color-text-7);
                font-size: 0.9rem;
            }
        }
    }
    .login__container__footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .error__container{
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 1rem;
            .error__container--message{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding: 1rem;
                border-radius: 0.5rem;
                border: 1px solid var(--color-thunderbird-500);
                color:var(--color-thunderbird-500);
                background: var(--color-thunderbird-200);
                font-size: 1.1rem;
                font-weight: 500;
                @media(max-width:990px){
                    text-align: center;
                }
            }
        }
        .login__container__footer--button{
            background: none;
            &:hover{
                background: var(--color-text-7);
            }
        }
    }
}