--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: new_invoice(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.new_invoice() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
NEW.n_invoice = 'ORD-'||LPAD(nextval('add_invoice')::text,5,'0');
RETURN NEW;
END;
$$;


ALTER FUNCTION public.new_invoice() OWNER TO postgres;

--
-- Name: add_invoice; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.add_invoice
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.add_invoice OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: app_ecommerce_brand; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.app_ecommerce_brand (
    id bigint NOT NULL,
    name_brand character varying(150) NOT NULL
);


ALTER TABLE public.app_ecommerce_brand OWNER TO postgres;

--
-- Name: app_ecommerce_brand_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.app_ecommerce_brand ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.app_ecommerce_brand_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: app_ecommerce_category; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.app_ecommerce_category (
    id bigint NOT NULL,
    name_category character varying(150) NOT NULL
);


ALTER TABLE public.app_ecommerce_category OWNER TO postgres;

--
-- Name: app_ecommerce_category_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.app_ecommerce_category ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.app_ecommerce_category_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: app_ecommerce_comments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.app_ecommerce_comments (
    id bigint NOT NULL,
    comment character varying(2500) NOT NULL,
    datetime date NOT NULL,
    product_id bigint,
    username_id integer NOT NULL
);


ALTER TABLE public.app_ecommerce_comments OWNER TO postgres;

--
-- Name: app_ecommerce_comments_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.app_ecommerce_comments ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.app_ecommerce_comments_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: app_ecommerce_perfil; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.app_ecommerce_perfil (
    id integer NOT NULL,
    user_id integer NOT NULL,
    image character varying(255),
    balance numeric(12,2) DEFAULT 400000.00
);


ALTER TABLE public.app_ecommerce_perfil OWNER TO postgres;

--
-- Name: app_ecommerce_perfil_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.app_ecommerce_perfil_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.app_ecommerce_perfil_id_seq OWNER TO postgres;

--
-- Name: app_ecommerce_perfil_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.app_ecommerce_perfil_id_seq OWNED BY public.app_ecommerce_perfil.id;


--
-- Name: app_ecommerce_products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.app_ecommerce_products (
    id bigint NOT NULL,
    name_product character varying(150) NOT NULL,
    stock_product integer NOT NULL,
    price_product numeric(14,2) NOT NULL,
    brand_product_id bigint,
    category_product_id bigint,
    img_product character varying(255),
    valoration_product integer
);


ALTER TABLE public.app_ecommerce_products OWNER TO postgres;

--
-- Name: app_ecommerce_products_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.app_ecommerce_products ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.app_ecommerce_products_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: app_ecommerce_pucharse_order; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.app_ecommerce_pucharse_order (
    id integer NOT NULL,
    order_user_id integer NOT NULL,
    order_date timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    order_total numeric(12,2) DEFAULT 0 NOT NULL,
    n_invoice character varying(50),
    iva numeric(12,2),
    order_total_price numeric(12,2)
);


ALTER TABLE public.app_ecommerce_pucharse_order OWNER TO postgres;

--
-- Name: app_ecommerce_pucharse_order_detail; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.app_ecommerce_pucharse_order_detail (
    id integer NOT NULL,
    detail_order_id integer NOT NULL,
    detail_product_id integer NOT NULL,
    detail_quantity integer DEFAULT 1,
    detail_price numeric(12,2) DEFAULT 0 NOT NULL,
    detail_total numeric(12,2) DEFAULT 0 NOT NULL
);


ALTER TABLE public.app_ecommerce_pucharse_order_detail OWNER TO postgres;

--
-- Name: app_ecommerce_valoration; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.app_ecommerce_valoration (
    id bigint NOT NULL,
    rating integer NOT NULL,
    product_id bigint NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.app_ecommerce_valoration OWNER TO postgres;

--
-- Name: app_ecommerce_valoration_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.app_ecommerce_valoration ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.app_ecommerce_valoration_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO postgres;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO postgres;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO postgres;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: authtoken_token; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.authtoken_token (
    key character varying(40) NOT NULL,
    created timestamp with time zone NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.authtoken_token OWNER TO postgres;

--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: pucharse_order_detail_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pucharse_order_detail_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pucharse_order_detail_id_seq OWNER TO postgres;

--
-- Name: pucharse_order_detail_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.pucharse_order_detail_id_seq OWNED BY public.app_ecommerce_pucharse_order_detail.id;


--
-- Name: pucharse_order_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pucharse_order_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pucharse_order_id_seq OWNER TO postgres;

--
-- Name: pucharse_order_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.pucharse_order_id_seq OWNED BY public.app_ecommerce_pucharse_order.id;


--
-- Name: app_ecommerce_perfil id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_ecommerce_perfil ALTER COLUMN id SET DEFAULT nextval('public.app_ecommerce_perfil_id_seq'::regclass);


--
-- Name: app_ecommerce_pucharse_order id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_ecommerce_pucharse_order ALTER COLUMN id SET DEFAULT nextval('public.pucharse_order_id_seq'::regclass);


--
-- Name: app_ecommerce_pucharse_order_detail id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_ecommerce_pucharse_order_detail ALTER COLUMN id SET DEFAULT nextval('public.pucharse_order_detail_id_seq'::regclass);


--
-- Data for Name: app_ecommerce_brand; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.app_ecommerce_brand (id, name_brand) FROM stdin;
3	DULCE VIDA
2	CHOCOLITO
4	CHICLAMON
22	CANELA
23	PICAFLOR
\.


--
-- Data for Name: app_ecommerce_category; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.app_ecommerce_category (id, name_category) FROM stdin;
1	CHOCOLATE
2	ALFAJOR
4	CHICLE
8	CHUPETIN
10	GOMITAS
11	POCHOCLOS
12	PALITO SALADO
14	CHISITOS
15	PAPAS FRITAS
16	GALLETAS
13	PUFLITOS
\.


--
-- Data for Name: app_ecommerce_comments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.app_ecommerce_comments (id, comment, datetime, product_id, username_id) FROM stdin;
38	Buen producto	2025-10-03	2	13
39	bien	2025-10-06	12	13
40	buen sabor	2025-10-06	3	13
41	Buen producto	2025-10-11	13	17
42	buen alfajor	2025-11-14	13	2
\.


--
-- Data for Name: app_ecommerce_perfil; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.app_ecommerce_perfil (id, user_id, image, balance) FROM stdin;
2	14	perfil/usuario.png	\N
3	17	perfil/1000000134.jpg	298000.00
1	13	perfil/python-logo_h5MJWAB.png	30900.00
4	18	perfil/usuario.png	300000.00
5	20	perfil/usuario.png	300000.00
\.


--
-- Data for Name: app_ecommerce_products; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.app_ecommerce_products (id, name_product, stock_product, price_product, brand_product_id, category_product_id, img_product, valoration_product) FROM stdin;
13	ALFAJOR CANELA 50G	355	2000.00	22	2	productos/alfajor__canela.png	4
12	CHICLE CHICLAMON	200	200.00	4	4	productos/chicle_chiclamon_97xmJw2.png	3
3	CHOCOLATE CHOCOLITO 200G	250	3000.00	3	1	productos/chocolito_g03lqCA.png	3
2	ALFAJOR DULCE VIDA 50G	250	1500.00	3	1	productos/Alfajor_Dulce_vida_abNZgQ3.png	3
\.


--
-- Data for Name: app_ecommerce_pucharse_order; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: app_ecommerce_pucharse_order_detail; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.app_ecommerce_pucharse_order_detail (id, detail_order_id, detail_product_id, detail_quantity, detail_price, detail_total) FROM stdin;
30	41	13	4	2000.00	8000.00
31	42	13	13	2000.00	26000.00
32	43	13	1	2000.00	2000.00
33	43	3	3	3000.00	9000.00
34	43	12	5	200.00	1000.00
35	43	2	1	1500.00	1500.00
36	44	13	4	2000.00	8000.00
37	44	3	2	3000.00	6000.00
38	44	12	8	200.00	1600.00
39	45	13	1	2000.00	2000.00
40	46	3	40	3000.00	120000.00
41	47	2	4	1500.00	6000.00
\.


--
-- Data for Name: app_ecommerce_valoration; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.app_ecommerce_valoration (id, rating, product_id, user_id) FROM stdin;
13	3	12	6
14	3	3	2
15	5	3	6
16	4	2	6
17	4	13	13
18	2	3	13
19	3	2	13
20	3	12	13
29	2	12	2
11	3	13	2
31	5	12	12
12	4	13	6
36	2	3	18
37	2	13	18
38	2	13	12
39	5	2	12
\.


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: authtoken_token; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.authtoken_token (key, created, user_id) FROM stdin;
e4bc2f32fc080f5f610aaac75cd33812185d98e9	2025-10-30 17:06:47.869594-03	13
76b470a4a480a3760f26943abc5904174fd02e03	2025-10-31 11:15:15.571796-03	6
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	app_ecommerce	category
8	app_ecommerce	products
9	app_ecommerce	brand
10	app_ecommerce	comments
11	app_ecommerce	valoration
12	app_ecommerce	pucharse_order
13	app_ecommerce	pucharse_order_detail
14	app_ecommerce	perfil
15	authtoken	token
16	authtoken	tokenproxy
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: add_invoice; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.add_invoice', 11, true);


--
-- Name: app_ecommerce_brand_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.app_ecommerce_brand_id_seq', 23, true);


--
-- Name: app_ecommerce_category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.app_ecommerce_category_id_seq', 16, true);


--
-- Name: app_ecommerce_comments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.app_ecommerce_comments_id_seq', 42, true);


--
-- Name: app_ecommerce_perfil_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.app_ecommerce_perfil_id_seq', 5, true);


--
-- Name: app_ecommerce_products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.app_ecommerce_products_id_seq', 13, true);


--
-- Name: app_ecommerce_valoration_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.app_ecommerce_valoration_id_seq', 39, true);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 64, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 20, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 63, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 16, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 45, true);


--
-- Name: pucharse_order_detail_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pucharse_order_detail_id_seq', 41, true);


--
-- Name: pucharse_order_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pucharse_order_id_seq', 47, true);


--
-- Name: app_ecommerce_brand app_ecommerce_brand_name_brand_fa7664e0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_ecommerce_brand
    ADD CONSTRAINT app_ecommerce_brand_name_brand_fa7664e0_uniq UNIQUE (name_brand);


--
-- Name: app_ecommerce_brand app_ecommerce_brand_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_ecommerce_brand
    ADD CONSTRAINT app_ecommerce_brand_pkey PRIMARY KEY (id);


--
-- Name: app_ecommerce_category app_ecommerce_category_name_category_bc57d917_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_ecommerce_category
    ADD CONSTRAINT app_ecommerce_category_name_category_bc57d917_uniq UNIQUE (name_category);


--
-- Name: app_ecommerce_category app_ecommerce_category_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_ecommerce_category
    ADD CONSTRAINT app_ecommerce_category_pkey PRIMARY KEY (id);


--
-- Name: app_ecommerce_comments app_ecommerce_comments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_ecommerce_comments
    ADD CONSTRAINT app_ecommerce_comments_pkey PRIMARY KEY (id);


--
-- Name: app_ecommerce_perfil app_ecommerce_perfil_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_ecommerce_perfil
    ADD CONSTRAINT app_ecommerce_perfil_pkey PRIMARY KEY (id);


--
-- Name: app_ecommerce_perfil app_ecommerce_perfil_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_ecommerce_perfil
    ADD CONSTRAINT app_ecommerce_perfil_user_id_key UNIQUE (user_id);


--
-- Name: app_ecommerce_products app_ecommerce_products_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_ecommerce_products
    ADD CONSTRAINT app_ecommerce_products_pkey PRIMARY KEY (id);


--
-- Name: app_ecommerce_valoration app_ecommerce_valoration_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_ecommerce_valoration
    ADD CONSTRAINT app_ecommerce_valoration_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: authtoken_token authtoken_token_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_pkey PRIMARY KEY (key);


--
-- Name: authtoken_token authtoken_token_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_key UNIQUE (user_id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: app_ecommerce_pucharse_order_detail pucharse_order_detail_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_ecommerce_pucharse_order_detail
    ADD CONSTRAINT pucharse_order_detail_pkey PRIMARY KEY (id);


--
-- Name: app_ecommerce_pucharse_order pucharse_order_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_ecommerce_pucharse_order
    ADD CONSTRAINT pucharse_order_pkey PRIMARY KEY (id);


--
-- Name: app_ecommerce_valoration unique_user_product_valoration; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_ecommerce_valoration
    ADD CONSTRAINT unique_user_product_valoration UNIQUE (user_id, product_id);


--
-- Name: auth_user uq_email; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT uq_email UNIQUE (email);


--
-- Name: app_ecommerce_brand_name_brand_fa7664e0_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX app_ecommerce_brand_name_brand_fa7664e0_like ON public.app_ecommerce_brand USING btree (name_brand varchar_pattern_ops);


--
-- Name: app_ecommerce_category_name_category_bc57d917_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX app_ecommerce_category_name_category_bc57d917_like ON public.app_ecommerce_category USING btree (name_category varchar_pattern_ops);


--
-- Name: app_ecommerce_comments_product_id_5d4b2cf8; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX app_ecommerce_comments_product_id_5d4b2cf8 ON public.app_ecommerce_comments USING btree (product_id);


--
-- Name: app_ecommerce_comments_username_id_f49da0a1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX app_ecommerce_comments_username_id_f49da0a1 ON public.app_ecommerce_comments USING btree (username_id);


--
-- Name: app_ecommerce_products_brand_product_id_7f63c443; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX app_ecommerce_products_brand_product_id_7f63c443 ON public.app_ecommerce_products USING btree (brand_product_id);


--
-- Name: app_ecommerce_products_category_product_id_325f539e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX app_ecommerce_products_category_product_id_325f539e ON public.app_ecommerce_products USING btree (category_product_id);


--
-- Name: app_ecommerce_valoration_product_id_6a26e1e8; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX app_ecommerce_valoration_product_id_6a26e1e8 ON public.app_ecommerce_valoration USING btree (product_id);


--
-- Name: app_ecommerce_valoration_user_id_4dad9cb5; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX app_ecommerce_valoration_user_id_4dad9cb5 ON public.app_ecommerce_valoration USING btree (user_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: authtoken_token_key_10f0b77e_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX authtoken_token_key_10f0b77e_like ON public.authtoken_token USING btree (key varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: app_ecommerce_pucharse_order insert_voice; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER insert_voice BEFORE INSERT ON public.app_ecommerce_pucharse_order FOR EACH ROW EXECUTE FUNCTION public.new_invoice();


--
-- Name: app_ecommerce_comments app_ecommerce_commen_product_id_5d4b2cf8_fk_app_ecomm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_ecommerce_comments
    ADD CONSTRAINT app_ecommerce_commen_product_id_5d4b2cf8_fk_app_ecomm FOREIGN KEY (product_id) REFERENCES public.app_ecommerce_products(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: app_ecommerce_comments app_ecommerce_comments_username_id_f49da0a1_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_ecommerce_comments
    ADD CONSTRAINT app_ecommerce_comments_username_id_f49da0a1_fk_auth_user_id FOREIGN KEY (username_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: app_ecommerce_perfil app_ecommerce_perfil_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_ecommerce_perfil
    ADD CONSTRAINT app_ecommerce_perfil_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.auth_user(id);


--
-- Name: app_ecommerce_products app_ecommerce_produc_brand_product_id_7f63c443_fk_app_ecomm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_ecommerce_products
    ADD CONSTRAINT app_ecommerce_produc_brand_product_id_7f63c443_fk_app_ecomm FOREIGN KEY (brand_product_id) REFERENCES public.app_ecommerce_brand(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: app_ecommerce_products app_ecommerce_produc_category_product_id_325f539e_fk_app_ecomm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_ecommerce_products
    ADD CONSTRAINT app_ecommerce_produc_category_product_id_325f539e_fk_app_ecomm FOREIGN KEY (category_product_id) REFERENCES public.app_ecommerce_category(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: app_ecommerce_valoration app_ecommerce_valora_product_id_6a26e1e8_fk_app_ecomm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_ecommerce_valoration
    ADD CONSTRAINT app_ecommerce_valora_product_id_6a26e1e8_fk_app_ecomm FOREIGN KEY (product_id) REFERENCES public.app_ecommerce_products(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: app_ecommerce_valoration app_ecommerce_valoration_user_id_4dad9cb5_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_ecommerce_valoration
    ADD CONSTRAINT app_ecommerce_valoration_user_id_4dad9cb5_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: authtoken_token authtoken_token_user_id_35299eff_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_35299eff_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: app_ecommerce_pucharse_order_detail fk_detail_order; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_ecommerce_pucharse_order_detail
    ADD CONSTRAINT fk_detail_order FOREIGN KEY (detail_order_id) REFERENCES public.app_ecommerce_pucharse_order(id) ON DELETE CASCADE;


--
-- Name: app_ecommerce_pucharse_order_detail fk_detail_product; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_ecommerce_pucharse_order_detail
    ADD CONSTRAINT fk_detail_product FOREIGN KEY (detail_product_id) REFERENCES public.app_ecommerce_products(id) ON DELETE RESTRICT;


--
-- Name: app_ecommerce_pucharse_order fk_order_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_ecommerce_pucharse_order
    ADD CONSTRAINT fk_order_user FOREIGN KEY (order_user_id) REFERENCES public.auth_user(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

