{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "css/user_menu/user_update.css" %}">
<div class="user__update__container">
    <div class="user__update__container__header">
        <h2 class="user__update__container__header--title">Información general <i class="bi bi-person-fill-gear"></i> </h2>
    </div>
    <div class="user__update__container__body">
        <div class="user__update__container__body__form__perfil perfil__form" id="perfil__form">
             <div class="perfil__form__img__container">
                <form  enctype="multipart/form-data" hx-post="{% url "update_perfil" %}" hx-target="#perfil__form" hx-swap="innerHTML" class="img__container" id="image__container__perfil">
                    {% csrf_token %}
                    <img class="perfil__form__img__container--img" src="{{request.user.perfil.image.url}}" alt="">
                    <i class="bi bi-pencil-square perfil__form__img__container--edit__button" id="fileinput__button__open"></i>
                    {{user__perfilupdate.image}}
                    <button type="submit" id="change__image__button" hidden>Guardar cambios</button>
                    {% if user__perfilupdate.image.errors %}<label style="color:red;" for="">{{user__perfilupdate.image.errors}}</label>{% endif %}
                </form>
                <div class="user__details">
                    <h2>{{request.user.username}} </h2>
                    <label {% if request.user.is_active  %} style="color:#0bef96;"{% endif %}>Estado de cuenta: {% if request.user.is_active  %}Activa {% else %} Inactiva{% endif %}</label>
                    <label>Compras realizadas: {{request.user.pucharse_order_set.count}}</label>
                    <label>Productos Valorados: {{request.user.valoration_set.count}}</label>
                    <label>Usuario desde: {{request.user.date_joined}}</label>
                </div>
           
                
            </div>
            <div class="perfil__form__balanace__container">
                <h3>Saldo Disponible <i class="bi bi-credit-card"></i></h3>
                <h2>${{request.user.perfil.balance}}</h2>
                <label>Este saldo solo es valido para realizar compras ficticias dentro de la plataforma</label>
            </div>
           

        </div>
    </div>

    <form hx-post="{% url "update_details_user" %}" hx-target="#update__details__form" hx-swap="innerHTML" class="user__update__container__footer details__updateform__container" id="update__details__form">
        {% csrf_token %}
        <div class="details__updateform__container__header">
            <h2>Datos Personales <i class="bi bi-person-vcard"></i> </h2>
        </div>
        <div class="details__updateform__container__body">
            <div class="input__container">
                <label for="" class="input__container--label">Nombre</label>
                <i class="bi bi-person-fill input__container--icon"></i>
                {{user__updateform.first_name}}
                {{user__updateform.first_name.errors}}
            </div>
            <div class="input__container">
                <label for="" class="input__container--label">Apellidos</label>
                <i class="bi bi-person-fill input__container--icon"></i>
                {{user__updateform.last_name}}
                {{user__updateform.last_name.errors}}
            </div>
            <div class="input__container">
                <label for="" class="input__container--label">Correo electronico</label>
                <i class="bi bi-envelope-at-fill"></i>
                {{user__updateform.email}}
                {{user__updateform.email.errors}}
            </div>
        </div>
        <div class="details__updateform__container__footer">
            
            <button type="submit" class="details__updateform__container__footer--button button">Guardar Cambios</button>
        </div>
    </form>
</div>
<script src="{% static "js/user_menu/user_update.js" %}"></script>