{% extends "base.html" %}
{% block title %}Registro{% endblock  %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "css/login/register.css" %}">
{# REGISTER CONTAINER #}
<form id="form__login__register" method = "POST" class="register__login__container">
    {% csrf_token %}
    {# REGISTER CONTAINER  HEADER#}
    <section class="register__login__container__header"><h3>Registro de usuario</h3></section>

    {# REGISTER CONTAINER BODY #}
    <section class="register__login__container__body">
        {# REGISTER CONTAINER INPUTS CONTAINERS #}
        <div class="register__login__container__body__inputcontainer input__container">
          <i class="fa-solid fa-id-card-clip input__container--icon"></i> 
          {# REGISTER FIRST_NAME #} 
          {{register__form.first_name}}
        </div>
        <div class="register__login__container__body__inputcontainer input__container">
          <i class="fa-solid fa-id-card-clip input__container--icon"></i> 
          {# REGISTER LAST_NAME #}  
          {{register__form.last_name}}
        </div>
        <div class="register__login__container__body__inputcontainer input__container">
          <i class="fa-solid fa-user input__container--icon"></i>
          {# REGISTER FIRST_USERNAME #} 
          {{register__form.username}}
          <h5 class="input__container--error">{{register__form.username.errors}}</h5>
        </div>
        
        <div class="register__login__container__body__inputcontainer input__container">
          <i class="fa-solid fa-at input__container--icon"></i>  
          {# REGISTER EMAIL #} 
          {{register__form.email}}
          <h5 class="input__container--error">{{register__form.email.errors}}</h5>
        </div>
        <div class="register__login__container__body__inputcontainer input__container">
          <i class="fa-solid fa-lock input__container--icon"></i> 
          {# REGISTER PASSWORD  #}  
          {{register__form.password1}}
          <h5 class="input__container--error">{{register__form.password1.errors}}</h5>
        </div>
        <div class="register__login__container__body__inputcontainer input__container">
          <i class="fa-solid fa-lock input__container--icon"></i> 
          {# REGISTER PASSWORD REPEAT #} 
          {{register__form.password2}}
          <h5 class="input__container--error">{{register__form.password2.errors}}</h5>
        </div>
    </section>
    <section class="register__login__container__footer">
    <div class="register__login__container__footer__error error__container" id="error__container">

    </div>
    <button type="submit" class="register__login__container__footer--button button">Registrarse</button>
    </section>
</form>
<script src="{% static "js/login/register.js" %}"></script>
{% endblock  %}